.search-bar {
  position: relative !important;
  &__input-container {
    margin-top: 1em;
  }

  &__icon-search {
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 1.2em;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 2px;
  }

  &__suggest-keys {
    width: 90%;
    position: absolute;
    background-color: $secondary-color;
    top: 3.5em;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: left;
    box-shadow: 2px 2px 5px #aaaaaa;

    &--item {
      padding: 0.2em 1em 0.2em 1em;
      cursor: pointer;

      &:hover {
        background-color: #dddddd;
      }
    }
  }

  &__list-keywords {
    display: flex;
    align-items: center;
  }

  &__keyword-item {
    padding: 0 5px 0 5px;
    cursor: pointer;
    
    & span {
      color: $secondary-color;
    }
  }
}
