.time-count-down {
    @include flex-center(row);
    justify-content: space-around;

    &__item {
        background-color: #222222;
        padding: 0.3em;
        border-radius: 10px;

        & span {
            color: white;
            font-size: 1em;
        }
    }
}